body {
    font-family: 'Vazir', sans-serif;
    background-image: url('https://raw.githubusercontent.com/Fardad86/medicine/main/pic/background.jpg');
    background-repeat: repeat; /* تکرار افقی و عمودی */
    background-size: auto; /* تصویر را به اندازه اصلی خود نگه می‌دارد */
    margin: 0;
    padding: 0;
    direction: rtl;
}

header {
    background-color: rgba(255, 255, 255, 0.1); /* یک پس‌زمینه شفاف بسیار کم‌رنگ */
    backdrop-filter: blur(10px); /* افکت مات کردن */
    padding: 1px;
    text-align: center;
    color: #593A2F;
    border-radius: 15px; /* گوشه‌های گرد */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* سایه ملایم */
}


h1 {
    font-size: 36px;
}

.logos img {
    width: 100px;
    margin: 0 10px;
}

.hero {
    text-align: center;
    padding: 20px;
}

.hero-content {
    background-color: rgba(255, 0, 0, 0.2); /* رنگ قرمز بسیار کمرنگ */
    backdrop-filter: blur(10px); /* افکت مات کردن پس‌زمینه */
    padding: 20px;
    border-radius: 15px; /* گوشه‌های گرد */
    display: inline-block; /* کادر دور متن */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* سایه ملایم */
}

.hero-img {
    width: auto; /* نمایش تصویر با سایز اصلی */
    height: auto; /* حفظ نسبت تصویر */
    max-width: 100%; /* محدود کردن عرض تصویر به عرض صفحه */
    max-height: none; /* حذف محدودیت ارتفاع */
    border-radius: 20px;
}

.hero p {
    font-size: 24px;
}

.article-info h2 {
    color: #593A2F;
}

.content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: rgba(255, 255, 255, 0.2); /* رنگ کمرنگ و شفاف */
    backdrop-filter: blur(10px); /* افکت مات (blur) */
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* ایجاد سایه ملایم */
}

.card-content {
    display: flex;
    align-items: center;
}

.card-content img {
    width: 150px;
    height: auto;
    border-radius: 15px;
    margin-left: 20px;
}

.reverse img {
    margin-right: 20px;
    margin-left: 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #BFBFBA;
    color: #593A2F;
}

footer p {
    margin: 0;
}

header, .hero, .content {
    background-color: transparent;
}
