body {
    font-family: 'Vazir', sans-serif;
    background-image: url('https://raw.githubusercontent.com/Sepid08/TarahiDaru.pneumoni/main/pic/background.jpg');
    background-repeat: repeat; /* تکرار افقی و عمودی */
    background-size: auto; /* تصویر را به اندازه اصلی خود نگه می‌دارد */
    margin: 0;
    padding: 0;
    direction: rtl;
}

header {
    background-color: rgba(255, 255, 255, 0.1); /* یک پس‌زمینه شفاف بسیار کم‌رنگ */
    backdrop-filter: blur(10px); /* افکت مات کردن */
    padding: 1px;
    text-align: center;
    color: #593A2F;
    border-radius: 15px; /* گوشه‌های گرد */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* سایه ملایم */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    text-decoration: none;
    color: #FFF;
    background-color: #593A2F; /* رنگ پس‌زمینه دکمه */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* سایه دکمه */
}

.button:hover {
    background-color: #4a2d24; /* رنگ پس‌زمینه دکمه هنگام هاور */
}

.download-print {
    background-color: rgba(255, 255, 255, 0.2); /* رنگ کمرنگ و شفاف */
    backdrop-filter: blur(10px); /* افکت مات (blur) */
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* ایجاد سایه ملایم */
    text-align: center;
}

h1 {
    font-size: 36px;
}

p {
    white-space: pre-line; /* این تنظیم اینترها را به خط جدید منتقل می‌کند */
    font-size: 18px;
    text-align: justify; /* تراز کردن متن‌ها از چپ و راست */
    text-justify: inter-word; /* تنظیم تراز به‌طور بهتر بین کلمات */
    hyphens: auto; /* اجازه دادن به شکست خطوط در مکان‌های مناسب */
}

.logos img {
    width: 100px;
    margin: 0 10px;
}

.hero {
    text-align: center;
    padding: 20px;
}

.hero-content {
    background-color: rgba(255, 0, 0, 0.2); /* رنگ قرمز بسیار کمرنگ */
    backdrop-filter: blur(10px); /* افکت مات کردن پس‌زمینه */
    padding: 20px;
    border-radius: 15px; /* گوشه‌های گرد */
    display: inline-block; /* کادر دور متن */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* سایه ملایم */
}

.hero-img {
    width: auto; /* نمایش تصویر با سایز اصلی */
    height: auto; /* حفظ نسبت تصویر */
    max-width: 100%; /* محدود کردن عرض تصویر به عرض صفحه */
    max-height: none; /* حذف محدودیت ارتفاع */
    border-radius: 20px;
}

.hero p {
    font-size: 24px;
}

.article-info h2 {
    color: #593A2F;
}

.content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: rgba(255, 255, 255, 0.2); /* رنگ کمرنگ و شفاف */
    backdrop-filter: blur(10px); /* افکت مات (blur) */
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* ایجاد سایه ملایم */
}

.card-content {
    display: flex;
    align-items: center;
}

.card-content img {
    width: 150px;
    height: auto;
    border-radius: 15px;
    margin-left: 20px;
}

.card-content p {
    display: block; /* اطمینان از بلوکی بودن پاراگراف */
    margin-bottom: 15px; /* فاصله بین پاراگراف‌ها */
    text-align: justify; /* متن را تراز کنید تا در خط شروع و پایان یکسان باشد */
}

.vertical-layout .card-content {
    flex-direction: column; /* آیتم‌ها را به صورت عمودی نمایش بده */
}

.vertical-layout .card-content img {
    margin-bottom: 15px; /* تنظیم فاصله برای تصویر */
    margin-left: 0; /* حذف فاصله سمت چپ */
}

.reverse img {
    margin-right: 20px;
    margin-left: 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #BFBFBA;
    color: #593A2F;
}

footer p {
    margin: 0;
}

header, .hero, .content {
    background-color: transparent;
}

/* Media Queries برای واکنش گرایی */
@media (max-width: 1200px) {
    .content {
        max-width: 1000px;
    }
    h1 {
        font-size: 32px;
    }
}

@media (max-width: 992px) {
    .content {
        max-width: 750px;
    }
    .hero-img {
        max-width: 90%;
    }
    h1 {
        font-size: 28px;
    }
    p {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .card-content {
        flex-direction: column;
        text-align: right; /* راست‌چین باقی ماندن متن‌ها */
    }
    .card-content img {
        margin: 0 auto 20px;
    }
    .logos img {
        width: 80px;
    }
    h1 {
        font-size: 24px;
    }
    p {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .content {
        max-width: 95%;
    }
    .hero-img {
        max-width: 100%;
    }
    h1 {
        font-size: 22px;
    }
    p {
        font-size: 12px;
    }
    .logos img {
        width: 60px;
    }
}
